@import "_mixins", "_reset", "_keyframes";

.header{
  width: 100%;
  padding: 1% 0;
  background: linear-gradient(top, black, rgba(0, 0, 0, 0));
  @include position(fixed, 0, 0, 5);
  font-size: .9em;
  
    &.activo{
      background: black;
    }
  &__wrapper{
    width: 93.5%;
    margin: auto;
    @include flex(row, nowrap, space-between, center);
  }

  &__h1{
    width: 8rem;
    margin: 0 10% 0 0;
    @include flex(row, nowrap, space-between, center);
  }

  &__nav{ 
    width: 35%;
    @include flex(row, nowrap, flex-start, center);
  }

  &__item:hover{
    opacity: 0.7;
  }

  &__netfliz{
    max-width: 6rem;
  }

  &__ul{
    width: 50%;
    @include flex(row, nowrap, space-between, center);
    text-align: center;
  }

  &__opciones{
    width: 15rem;
    @include flex(row, nowrap, space-between, center);
  }

  &__opcion{
    width: calc(100% / 4);
    cursor: pointer;
  }

  &__opcion.perfil{
    @include flex(row, nowrap, center, center);
  }
 
  &__lupa{
    width: 1.5rem;
    margin: auto;
  }

  &__usuario{
    width: 4rem;
    text-align: center;
  }

  &__figura{
    width: 2rem;
  }

  &__flecha{
    width: .8rem;
    margin: 0 0 0 10%;
  }

  &__flecha:hover{
    transform: rotate(180deg);
  }

  &__campana{
    width: 1.5rem;
    margin: auto;
  }
}

.principal{
  width: 100%; 
  @include position(relative, 0, 0, 0);
 
  &__wrapper{
    width: 100%;
    margin: auto;
    @include position(absolute, 30%, 0, 0);
  }

  &__sharknado{
    width: 35%;
    margin: 0 0 0 3%;
    transform: rotate(8deg);
  }

  &__descripcion{
    width: 40%;
    margin: 2% 0 0 4%;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 600;
  }

  &__botones{
    width: 30%;
    margin: 2% 0 0 2%;
    @include flex(row, nowrap, center, center);
  }

  &__play{
    width: 35%;
    margin: auto;
    padding: 2%;
    background: var(--color-tipo);
    color: black;
    border-radius: .5rem;
    cursor: pointer;
    @include flex(row, nowrap, center, center);
  }

  &__play:hover{
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__iconoP{
    width: 2rem;
    height: 2rem;
  }

  &__textoP{
    width: 48%;
    font-size: 1.5em;
    font-weight: 600;
  }

  &__info{
    width: 40%;
    margin: auto;
    padding: 2%;
    background-color: grey;
    border-radius: .5rem;
    cursor: pointer;
    @include flex(row, nowrap, center, center);
  }

  &__info:hover{
    background-color: rgba(128, 128, 128, 0.7);
  }

  &__iconoI{
    width: 2rem;
    height: 2rem;
  }

  &__textoI{
    width: 48%;
    font-size: 1.5em;
    font-weight: 600;
  }

  &__boton:hover{
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__marco{
    background-color: rgba(27, 27, 27, 0.692);
    width: 6%;
    padding: .5% 1%;
    border-left: solid 3px var(--color-tipo);
    @include position(absolute, 80%, 94%, 2);
    @include flex(row, nowrap, flex-start, center)
  }

  &__edad{
    padding: 20% 10%;
    background-color: rgb(243, 229, 40);
    font-size: 1.25em;
    font-weight: 600;
    line-height: 0;
    text-align: center;
    border-radius: .5rem;
    color: var(--color-fondo);
    cursor: default;
  }
}
  
.secuelas{
  width: 100%;
  margin: 1rem 0 0 0;

  &__h3{
    margin: 1rem 0 2rem 3%;
    font-size: 2em;
    font-weight: 600;
  }

  &__wrapper{
    width: 100%;
    margin: 1rem auto;
  }

  &__lista{
    width: 93%;
    margin: auto;
    @include flex(row, nowrap, space-between, center);
  }

  &__item{
    width: 40%;
    min-height: 8rem;
    @include flex(row, nowrap, center, center);
    transform: scale(1);
    transition: all .5s ease-out;
  }

  &__item:hover {
    transform: scale(1.1);
  }

  &__item:hover .secuelas__cartel{
    border: solid 5px var(--color-icono);
  }

  &__svg{
    width: 33%;
    fill: black;
  }

  &__svg:hover{
    stroke: var(--color-icono); 
  }

  &__cartel{
    width: 42.5%;
    border-radius: .2rem;
  }
}

.tiburones{
  width: 100%;
  margin: 7rem 0 0 3%; 

  @include position(relative, 0, 0, 1);

  &__h3{
    margin: 0 0 1rem 0;
    font-size: 2em;
    font-weight: 600;
  }

  &__puntos{
    width: 2%;
    margin: 1rem 94%;
    @include flex(row, nowrap, center, center);
    opacity: 0;
    
    &.activo{
      opacity: 1;
    }
  }
  
  &__li{
    margin:0 0.1rem;
  }

  &__punto{
    width: 10px;
    height: 2px;
    background:grey;

    &.activo{
      background: rgb(61, 61, 61);
    }
  }

  &__container{
    width: 292%;
    @include flex(row, nowrap, space-between, center);
  }
  
  &__item{
    width: 100%;
    min-height: 10rem;
    border-radius: .5rem;
    filter: drop-shadow( 0 .1rem .1rem rgba(0, 0, 0, 0.623));
    @include flex(row, nowrap, space-between, center);
  }

  &__enlace{
    width: 20%;
    margin: 0 .5rem 0 0;
    @include position(relative, 0, 0, 2);
  }

  &__enlace:hover{
    z-index: 4;
  }

  &__enlace:hover .tiburones__caja{
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s ease-in-out 1 both;
  }

  &__imagenf{
    border-radius: .5rem;
  }

  &__caja{
    width: 100%;
    padding: 0 0 .1rem 0;
    background: var(--color-caja);
    border-radius: .5rem;
    filter: drop-shadow( 0 .2rem .2rem rgba(0, 0, 0, 0.1));
    overflow: hidden;
    @include position(absolute, -52%, 0, 3);
    transition: all .5s ease-out;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  &__caja.A{
    transform-origin: left;
  }

  &__caja.B{
    transform-origin: right;
  }

  &__imagen{
    width: 100%;
    border-radius: .5rem;
    z-index: 5;
  }

  &__datos{
    width: 100%;
    z-index: 5;
  }

  &__wrapper{
    width: 90%;
    margin: 4% auto;
  }

  &__arriba{
    width: 30%;
    margin: 0 0 0 70%;
    @include flex(row, nowrap, space-between, center);
    font-size: 1em;
  }

  &__edad{
    padding: 5%;
    background-color: rgb(243, 229, 40);
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    color: var(--color-fondo);
  }

  &__duracion{
    width: 100%;
    text-align: center;
  }

  &__sinopsis{
    margin:  4% 0 0 0;
    font-size: .9em;
    line-height: 120%;
  }
  
  &__iconos{
    width: 40%;
    margin: 5% auto;
    @include flex(row, nowrap, space-between, center);
  } 

  &__icono{
    width: 2.5rem;
    padding: .3rem;
    border-radius: 50%;
    border: solid 2px var(--color-tipo);
  }

  &__icono:hover{
    opacity: .5;
  }
  
  &__flecha{
    position: absolute;
    top: 20.1%;
    opacity: 0;

    &.activo{
      opacity: 1;
    }
  } 

  &__flecha.izq{
    width: 1.5rem;
    height: 5rem;
    left:0;
  }

  &__izq.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
    transform: rotate(180deg);
  }

  &__izq.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__flecha.der{
    width: 1.5rem;
    height: 5rem;
    right: 4%;
  }

  &__der.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }
}

.engendros{
  width: 100%;
  margin: 7rem 0 0 3%; 

  @include position(relative, 0, 0, 1);

  &__h3{
    margin: 0 0 1rem 0;
    font-size: 2em;
    font-weight: 600;
  }

  &__puntos{
    width: 2%;
    margin: 1rem 94%;
    @include flex(row, nowrap, center, center);
    opacity: 0;
    
    &.activo{
      opacity: 1;
    }
  }
  
  &__li{
    margin:0 0.1rem;
  }

  &__punto{
    width: 10px;
    height: 2px;
    background:grey;

    &.activo{
      background: rgb(61, 61, 61);
    }
  }

  &__container{
    width: 292%;
    @include flex(row, nowrap, space-between, center);
  }
  
  &__item{
    width: 100%;
    min-height: 10rem;
    border-radius: .5rem;
    filter: drop-shadow( 0 .1rem .1rem rgba(0, 0, 0, 0.623));
    @include flex(row, nowrap, space-between, center);
  }

  &__enlace{
    width: 20%;
    margin: 0 .5rem 0 0;
    @include position(relative, 0, 0, 2);
  }

  &__enlace:hover{
    z-index: 4;
  }

  &__enlace:hover .engendros__caja{
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s ease-in-out 1 both;
  }

  &__imagenf{
    border-radius: .5rem;
  }

  &__caja{
    width: 100%;
    padding: 0 0 .1rem 0;
    background: var(--color-caja);
    border-radius: .5rem;
    filter: drop-shadow( 0 .2rem .2rem rgba(0, 0, 0, 0.1));
    overflow: hidden;
    @include position(absolute, -52%, 0, 3);
    transition: all .5s ease-out ;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  &__caja.A{
    transform-origin: left;
  }

  &__caja.B{
    transform-origin: right;
  }

  &__imagen{
    width: 100%;
    border-radius: .5rem;
    z-index: 5;
  }

  &__datos{
    width: 100%;
    z-index: 5;
  }

  &__wrapper{
    width: 90%;
    margin: 4% auto;
  }

  &__arriba{
    width: 30%;
    margin: 0 0 0 70%;
    @include flex(row, nowrap, space-between, center);
    font-size: 1em;
  }

  &__edad{
    padding: 5%;
    background-color: rgb(243, 229, 40);
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    color: var(--color-fondo);
  }

  &__duracion{
    width: 100%;
    text-align: center;
  }

  &__sinopsis{
    margin:  4% 0 0 0;
    font-size: .9em;
    line-height: 120%;
  }
  
  &__iconos{
    width: 40%;
    margin: 5% auto;
    @include flex(row, nowrap, space-between, center);
  } 

  &__icono{
    width: 2.5rem;
    padding: .3rem;
    border-radius: 50%;
    border: solid 2px var(--color-tipo);
  }

  &__icono:hover{
    opacity: .5;
  }
  
  &__flecha{
    position: absolute;
    top: 20.1%;
    opacity: 0;

    &.activo{
      opacity: 1;
    }
  } 

  &__flecha.izq{
    width: 1.5rem;
    height: 5rem;
    left:0;
  }

  &__izq.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
    transform: rotate(180deg);
  }

  &__izq.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__flecha.der{
    width: 1.5rem;
    height: 5rem;
    right: 4%;
  }

  &__der.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }
}

.monstruos{
  width: 100%;
  margin: 7rem 0 0 3%; 

  @include position(relative, 0, 0, 1);

  &__h3{
    margin: 0 0 1rem 0;
    font-size: 2em;
    font-weight: 600;
  }

  &__puntos{
    width: 2%;
    margin: 1rem 94%;
    @include flex(row, nowrap, center, center);
    opacity: 0;
    
    &.activo{
      opacity: 1;
    }
  }
  
  &__li{
    margin:0 0.1rem;
  }

  &__punto{
    width: 10px;
    height: 2px;
    background:grey;

    &.activo{
      background: rgb(61, 61, 61);
    }
  }

  &__container{
    width: 292%;
    @include flex(row, nowrap, space-between, center);
  }
  
  &__item{
    width: 100%;
    min-height: 10rem;
    border-radius: .5rem;
    filter: drop-shadow( 0 .1rem .1rem rgba(0, 0, 0, 0.623));
    @include flex(row, nowrap, space-between, center);
  }

  &__enlace{
    width: 20%;
    margin: 0 .5rem 0 0;
    @include position(relative, 0, 0, 2);
  }

  &__enlace:hover{
    z-index: 4;
  }

  &__enlace:hover .monstruos__caja{
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s ease-in-out 1 both;
  }

  &__imagenf{
    border-radius: .5rem;
  }

  &__caja{
    width: 100%;
    padding: 0 0 .1rem 0;
    background: var(--color-caja);
    border-radius: .5rem;
    filter: drop-shadow( 0 .2rem .2rem rgba(0, 0, 0, 0.1));
    overflow: hidden;
    @include position(absolute, -52%, 0, 3);
    transition: all .5s ease-out ;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  &__caja.A{
    transform-origin: left;
  }

  &__caja.B{
    transform-origin: right;
  }

  &__imagen{
    width: 100%;
    border-radius: .5rem;
    z-index: 5;
  }

  &__datos{
    width: 100%;
    z-index: 5;
  }

  &__wrapper{
    width: 90%;
    margin: 4% auto;
  }

  &__arriba{
    width: 30%;
    margin: 0 0 0 70%;
    @include flex(row, nowrap, space-between, center);
    font-size: 1em;
  }

  &__edad{
    padding: 5%;
    background-color: rgb(243, 229, 40);
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    color: var(--color-fondo);
  }

  &__duracion{
    width: 100%;
    text-align: center;
  }

  &__sinopsis{
    margin:  4% 0 0 0;
    font-size: .9em;
    line-height: 120%;
  }
  
  &__iconos{
    width: 40%;
    margin: 5% auto;
    @include flex(row, nowrap, space-between, center);
  } 

  &__icono{
    width: 2.5rem;
    padding: .3rem;
    border-radius: 50%;
    border: solid 2px var(--color-tipo);
  }

  &__icono:hover{
    opacity: .5;
  }
  
  &__flecha{
    position: absolute;
    top: 20.1%;
    opacity: 0;

    &.activo{
      opacity: 1;
    }
  } 

  &__flecha.izq{
    width: 1.5rem;
    height: 5rem;
    left:0;
  }

  &__izq.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
    transform: rotate(180deg);
  }

  &__izq.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__flecha.der{
    width: 1.5rem;
    height: 5rem;
    right: 4%;
  }

  &__der.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }
}

.humor{
  width: 100%;
  margin: 7rem 0 0 3%; 

  @include position(relative, 0, 0, 1);

  &__h3{
    margin: 0 0 1rem 0;
    font-size: 2em;
    font-weight: 600;
  }

  &__puntos{
    width: 2%;
    margin: 1rem 94%;
    @include flex(row, nowrap, center, center);
    opacity: 0;
    
    &.activo{
      opacity: 1;
    }
  }
  
  &__li{
    margin:0 0.1rem;
  }

  &__punto{
    width: 10px;
    height: 3px;
    background:grey;

    &.activo{
      background: rgb(61, 61, 61);
    }
  }

  &__container{
    width: 292%;
    @include flex(row, nowrap, space-between, center);
  }
  
  &__item{
    width: 100%;
    min-height: 10rem;
    border-radius: .5rem;
    filter: drop-shadow( 0 .1rem .1rem rgba(0, 0, 0, 0.623));
    @include flex(row, nowrap, space-between, center);
  }

  &__enlace{
    width: 20%;
    margin: 0 .5rem 0 0;
    @include position(relative, 0, 0, 2);
  }

  &__enlace:hover{
    z-index: 4;
  }

  &__enlace:hover .humor__caja{
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s ease-in-out 1 both;
  }

  &__imagenf{
    border-radius: .5rem;
  }

  &__caja{
    width: 100%;
    padding: 0 0 .1rem 0;
    background: var(--color-caja);
    border-radius: .5rem;
    filter: drop-shadow( 0 .2rem .2rem rgba(0, 0, 0, 0.1));
    overflow: hidden;
    @include position(absolute, -52%, 0, 3);
    transition: all .5s ease-out ;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  &__caja.A{
    transform-origin: left;
  }

  &__caja.B{
    transform-origin: right;
  }

  &__imagen{
    width: 100%;
    border-radius: .5rem;
    z-index: 5;
  }

  &__datos{
    width: 100%;
    z-index: 5;
  }

  &__wrapper{
    width: 90%;
    margin: 4% auto;
  }

  &__arriba{
    width: 30%;
    margin: 0 0 0 70%;
    @include flex(row, nowrap, space-between, center);
    font-size: 1em;
  }

  &__edad{
    padding: 5%;
    background-color: rgb(243, 229, 40);
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    color: var(--color-fondo);
  }

  &__duracion{
    width: 100%;
    text-align: center;
  }

  &__sinopsis{
    margin:  4% 0 0 0;
    font-size: .9em;
    line-height: 120%;
  }
  
  &__iconos{
    width: 40%;
    margin: 5% auto;
    @include flex(row, nowrap, space-between, center);
  } 

  &__icono{
    width: 2.5rem;
    padding: .3rem;
    border-radius: 50%;
    border: solid 2px var(--color-tipo);
  }

  &__icono:hover{
    opacity: .5;
  }
  
  &__flecha{
    position: absolute;
    top: 20.1%;
    opacity: 0;

    &.activo{
      opacity: 1;
    }
  } 

  &__flecha.izq{
    width: 1.5rem;
    height: 5rem;
    left:0;
  }

  &__izq.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
    transform: rotate(180deg);
  }

  &__izq.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__flecha.der{
    width: 1.5rem;
    height: 5rem;
    right: 4%;
  }

  &__der.svg{
    width: 200%;
    height: 17.3rem;
    padding: 50%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.438);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }

  &__der.svg:hover{
    background: rgba(0, 0, 0, 0.76);
  }
}

.footer{
  width: 100%;
  margin: 9rem 0 2rem 0;
  font-size: .9em;
  color: var(--color-footer);

  &__wrapper{
    width: 52%;
    margin: auto;
  }

  &__redes{
    width: 20%;
    margin: 0 0 0rem 1%;
    @include flex(row, nowrap, space-between, center);
  }

  &__red{
    width: 2rem;
    fill: var(--color-tipo);
  }

  &__red:hover{
    fill: var(--color-icono);
  }

  &__listas{
    width: 100%;
    @include flex(row, nowrap, space-between, center);
  }

  &__item{
    margin: 1.5rem 0;
    cursor: pointer;
  }

  &__item:hover{
    border-bottom: solid 1px var(--color-footer);
  }

  &__boton{
    padding: .75rem .5rem;
    border: solid 1.5px var(--color-footer);
    cursor: pointer;
  }

  &__boton:hover{
    color: var(--color-tipo);
  }

  &__legal{
    margin: 2rem 0;
  }
}
  